<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시글 자세히보기</title>
</head>
<body>

<h2 th:text="${post.title}"></h2>
<p th:inline="text">작성일 : [[${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}]]</p>
<!--작성자 : <p th:text="${post.writer}"></p>-->
<p>작성자 : [[${post.writer}]]</p>
내용<p th:text="${post.contents}"></p>

<!-- 수정/삭제 -->
<div>
    <a th:href="@{'/post/update/' + ${post.id}}">
        <button>수정</button>
    </a>

    <form id="delete-form" th:action="@{'/post/delete/' + ${post.id}}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button id="delete-btn">삭제</button>
    </form>
</div>

<!-- 변수 셋팅 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var post = /*[[${post}]]*/ "";
    /*]]>*/
</script>

<!-- script -->
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
</body>
</html>